<h2>Hello, <%= @student.name %>.</h2>

<p class="alert alert-info">
  Your <strong>access code</strong> is <strong><%= @student.access_code %></strong>. Write this down. You'll need it if you want to log back in later today or sometime in the future.
</p>

<div class="row">
  <div class="col-md-2">
    <p><%= link_to "Research Stocks", stocks_path, class: 'btn btn-primary btn-block' %></p>
    <p><%= link_to "Logout #{@student.name}", student_path, method: :delete, class: 'btn btn-danger btn-block' %></p>
    <p class="alert alert-warning">The year is currently <strong><%= @student.current_year %></strong>. <% if @student.current_year > 2000 %>You can only make investments in 2000.<% end %></p>
  </div>
  <div class="col-md-10">
    <% if investment_notice %>
        <p class="alert alert-success"><%= investment_notice %></p>
    <% end %>
    <% if investment_alert %>
        <p class="alert alert-danger"><%= investment_alert %></p>
    <% end %>
    <%= render 'investment_submission' %>
    <% if @student.current_year > 2000 %>
    <p class="well">The value of your portfolio has changed by <strong><%= number_to_currency @student.capital_gains %></strong></p>
    <% end %>
    <%= render 'investments_table' %>
    <div>
      <% if !@student.submitted %>
        <%= form_tag(student_path(@student), method: 'patch', class: 'form-inline') do %>
          <%= hidden_field_tag 'student[submitted]', true %>
          <%= submit_tag "Submit Investments (You cannot undo this.)", class: "btn btn-block btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>