<h2>Hello, <%= @student.name %>.</h2>

<p class="alert alert-info">
  Your <strong>access code</strong> is <strong><%= @student.access_code %></strong>. Write this down. You'll need it if you want to log back in later today or sometime in the future.
</p>

<div class="row">
  <div class="col-md-2">
    <p><%= link_to "Logout #{@student.name}", student_path, method: :delete, class: 'btn btn-danger btn-block' %></p>
    <p class="alert alert-warning">The year is currently <strong><%= @student.current_year %></strong>.</p>
    <% if @student.current_year > 2000 %><p class="alert alert-danger">You can only make investments in 2000.</p><% end %>
    <%= render 'stock_table' %>
  </div>
  <div class="col-md-10">
    <% if investment_notice %>
        <p class="alert alert-success"><%= investment_notice %></p>
    <% end %>
    <% if investment_alert %>
        <p class="alert alert-danger"><%= investment_alert %></p>
    <% end %>
    <%= render 'investment_submission' %>
    <% if @student.current_year > 2000 %>
    <p>The value of your portfolio has changed: <%= number_to_currency @student.capital_gains %></p>
    <% end %>
    <%= render 'investments_table' %>
  </div>
</div>