<!DOCTYPE html>
<html>
<head>
  <title>Buy and Hold</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="header-container clearfix">
    <div class="logo left"><img src="/images/cee-logo.png" class="cee-logo"></div>
  </div>
  <div class="title">
    <h1>Buy and Hold</h1>
  </div>
</header>

<div class="container">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <div class="row">
    <footer class="col-sm-12">
      <div class="teacher-access">
        <% if teacher_signed_in? %>
            <div class="row">
              <div class="col-md-5">
                <p class="logged-in-as">Logged in as <strong><%= current_teacher.email %></strong>.</p>
              </div>
              <div class="col-md-7 buttons">
                <%= link_to "Teacher Dashboard", teachers_path, :class => 'btn btn-primary'  %>
                <%= link_to "Student Login", session[:student] ? student_path(session[:student]) : root_path, :class => 'btn btn-default' %>
                <%= link_to "Logout", destroy_teacher_session_path, method: :delete, class: 'btn btn-warning'  %>
              </div>
            </div>
        <% else %>
            <div class="buttons">
              <%= link_to "Student Login", session[:student] ? student_path(session[:student]) : root_path, :class => 'btn btn-default' %>
              <%= link_to "Sign up as a Teacher", new_teacher_registration_path, :class => 'btn btn-default'  %>
              <%= link_to "Login as a Teacher", new_teacher_session_path, :class => 'btn btn-primary'  %>
            </div>
        <% end %>
      </div>
    </footer>
  </div>

</div>

</body>
</html>
